<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LibrarySystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Kitap İşlemleri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="randevu">
                <span class="oi oi-plus" aria-hidden="true"></span> Randevu İşlemleri
            </NavLink>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Category">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kategori İşlemleri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Book">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kitap İşlemleri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/DeliverBook">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kitap Teslim İşlemleri
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
